/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
!/public/storage/blogs/blog1.png
!/public/storage/courses/thumbnail/thumbnail-course.png
!/public/storage/profile/mentor-1.png
/storage/*.key
!/storage/app/public/blogs/blog1.png
!/storage/app/public/courses/thumbnail/thumbnail-course.png
!/storage/app/public/profile/mentor-1.png
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
