$colors: (
    common: (
        white: #ffffff,
        black: #031220,
        black-2: #120101,
        black-3: #0C140F,
        black-4: #000000,
        black-5: #0e1133,
        green: #26C089,
        green-2: #3E8454,
        green-3: #27AA4D,
        green-4: #20AD96,
        blue: #4356FF,
        blue-2: #4270FF,
        blue-3: #3C66ED,
        blue-4: #3083FF,
        cream: #FFF1E0,
        pink: #FF6470,
        pink-2: #FC4C56,
        orange: #F37F43,
        orange-2: #EE6002,
        orange-3: #FF9F4B,
        purple: #E33CFF,
        purple-2: #E64DFF,
        yellow: #F5B455,
        yellow-2: #F47F42,
        yellow-3: #F4930E,
        yellow-4: #FFAA2C,
        yellow-5: #FF8D00,
        violet: #6151FB,
        violet-2: #A794C8,
    ),
    header: (
        primary: #031220,
        2: #120101,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,
        3:#F8F8F8,
        4:#F7F7F7,
        5:#F5F5F5,
        6:#DCDCDC,
        7:#F9F9F9,
        8:#F4FBF9,
        9:#F0F8F7,
        10:#F3F3F3,
    ),
    text: (
        body:#49535B,
        1:#49535B,
        2:#555C63,
        3:#777A7C,
        4:#4B535A,
        5:#4A545C,
        6:#6F7377,
        7:#6B7882,
        8:#788086,
        9:#6B737A,
        10:#828282,
        11:#5F6160,
        12:#565958,
        13:#868D94,
        14:#56595C,
        15:#a1a2ab,
    ),
    theme: (
        1: #3D6CE7,
        2: #258E46,
        3: #007A70,
    ),
    border: (
        1: #dedede,
    )
);
