/* font */
.text-xs {
    font-size: 0.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
}
.text-base {
    font-size: 1rem !important;
}
.text-lg {
    font-size: 1.125rem !important;
}
.text-xl {
    font-size: 1.25rem !important;
}
.text-2xl {
    font-size: 1.5rem !important;
}
.text-3xl {
    font-size: 1.875rem !important;
}
.text-4xl {
    font-size: 2.25rem !important;
}
/* align */
.text-right {
    text-align: right !important;
}
/* leading 1 */
.leading-base {
    line-height: 1 !important;
}
.leading-lg {
    line-height: 1.25 !important;
}
.leading-xl {
    line-height: 1.5 !important;
}
.leading-btn-44 {
    line-height: 44px !important;
    height: 44px !important;
}
/* weight */
.font-semibold {
    font-weight: 600 !important;
}

.space-nowrap {
    white-space: nowrap !important;
}
.px-9 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}
.pb-9 {
    padding-bottom: 36px !important;
}

/* input */
.input-form {
    padding: 0 36px 0 50px !important;
    height: 52px !important;
}
.input-form:focus {
    box-shadow: 0 0 0 0.25rem rgb(61, 108, 231, 0.13) !important;
}
.input-form.error,
.input-form-password.error,
.select-form.error {
    border-color: #dc3545 !important;
    background: rgba(220, 53, 69, 0.05);
}
.input-form.error:focus,
.input-form-password.error:focus,
.select-form.error:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.13) !important;
}

/* button */
.tp-btn:disabled {
    background: #031220c7 !important;
    cursor: not-allowed !important;
}
.tp-btn.btn-delete {
    background: #dc3545 !important;
    color: #fff !important;
}
.tp-btn.btn-delete:hover {
    background: #9b222e !important;
    color: #fff !important;
}
.tp-btn-yellow-4 {
    background: #ffaa2c !important;
    color: #fff !important;
}
.tp-btn-yellow-4:hover {
    background: #ee6002 !important;
    color: #fff !important;
}

/* icon-input */
i.icon-form {
    top: 25px !important;
}
i.icon-error {
    position: static;
    top: unset;
    transform: unset !important;
    left: unset;
    font-size: 14px;
    color: #dc3545;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
}
.toggle-eye-wrapper,
.toggle-eye-wrapper-confirm,
.toggle-eye-wrapper-new,
.toggle-eye-wrapper-confirm-new {
    position: absolute;
    right: 25px;
    top: 14px;
}
.icon-toggle-password {
    position: static !important;
    top: unset !important;
    transform: unset !important;
    left: unset !important;
    font-size: 14px !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
}

/* label */
label.error {
    color: #dc3545;
    font-size: 0.8125rem;
    font-weight: 400;
    margin: 0.375rem 0 0 0;
}

/* margin */
.mr-6 {
    margin-right: 6px !important;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mb-18 {
    margin-bottom: 18px !important;
}
.mb-22 {
    margin-bottom: 22px !important;
}
.mb-sm-22 {
    margin-bottom: 0;
}
.mb-32 {
    margin-bottom: 32px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-36 {
    margin-top: 36px !important;
}
.mb-48 {
    margin-bottom: 48px !important;
}
.ml-92-btn {
    margin-left: 92px !important;
}

/* right */
.r-5 {
    right: 20px !important;
}

/* color */
.text-green {
    color: #31b380 !important;
}
.text-green-2 {
    color: #186d4b !important;
}
.text-green-3 {
    color: #8aa097 !important;
}
.text-star {
    color: #f3a939;
}
.text-tp-theme-1 {
    color: #3d6ce7;
}
.text-gray {
    color: #9093ac !important;
}
.bg-secondaries {
    background-color: #f7f7fb !important;
}
.bg-tp-theme-1 {
    background: #3d6ce7;
}
.text-tp-blue-3:hover {
    color: #3c66ed !important;
}

/* border */
.border-light-2 {
    border: 1px solid #f2f2f2 !important;
}
.border-light-3 {
    border: 1px solid #e6e6e6 !important;
}

/* shape */
.rounded-2-5 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rounded-4 {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.rounded-top-4 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -ms-border-radius-topleft: 12px;
    -ms-border-radius-topright: 12px;
    -o-border-radius-topleft: 12px;
    -o-border-radius-topright: 12px;
}
.rounded-3 {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rounded-top-3 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -ms-border-radius-topleft: 8px;
    -ms-border-radius-topright: 8px;
    -o-border-radius-topleft: 8px;
    -o-border-radius-topright: 8px;
}

/* display */
.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gap-5 {
    grid-gap: 20px !important;
}
.gap-6 {
    grid-gap: 24px !important;
}
.gap-7 {
    grid-gap: 28px !important;
}
.gap-8 {
    grid-gap: 32px !important;
}
.column-gap-15 {
    column-gap: 60px !important;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
.col-span-10 {
    grid-column: span 10 / span 10;
}
.col-span-full {
    grid-column: 1 / -1;
}

/* others */
.hover-right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.hover-right:hover {
    transform: translateX(8px);
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -o-transform: translateX(8px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.header-image-animation-1 {
    transform: translateX(0px);
    animation: float1 10s ease-out infinite;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-animation: float1 10s ease-out infinite;
}
.header-image-animation-2 {
    transform: translateX(0px);
    animation: float2 10s ease-out infinite;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-animation: float2 10s ease-out infinite;
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3-hover {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3-hover:hover {
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset;
}
.line-clamp-2-hover {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.object-cover-center {
    object-fit: cover;
    object-position: center;
}

/* animation */
.spinners {
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}
.spinners-2 {
    animation: spin 0.75s infinite linear;
    -webkit-animation: spin 0.75s infinite linear;
}
.spinners-3 {
    animation: spin 0.6s infinite linear;
    -webkit-animation: spin 0.6s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes float1 {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    50% {
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
        -moz-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
        -o-transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
@keyframes float2 {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    50% {
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
        -moz-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
        -o-transform: translateY(-45px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
